	<footer>
		<div class="section" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <p style="font-size:15px; font-style:italic">Ecommerce Artisans nasce dalla collaborazione delle startup
                            Tim Wcap Bologna operanti nel mondo della vendita di beni e servizi online.</p>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div class="row">
                            <a href="http://www.awhy.it" target="_blank"><img class="logo_footer" src="img/Awhy.png"></a>
                        </div>
                        <div class="row">
                            <a href="https://hyperting.com" target="_blank"><img class="logo_footer_2" src="img/hyperting.png"></a>
                        </div>
                        <div class="row">
                            <a href="http://www.marketcloud.it" target="_blank"><img class="logo_footer_2" src="img/Marketcloud.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div class="row">
                            <a href="http://www.wcap.tim.it/it/" target="_blank"><img class="logo_footer_2" src="img/TimWcap.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
	</footer>

	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/waypoints.min.js"></script>
	<script type="text/javascript" src="js/jquery.scrollto.min.js"></script>
	<script type="text/javascript" src="js/jquery.localscroll.min.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers/index.js"></script>
	</body>
</html>