<!doctype html>
<html lang="en">
    <head>
        <title>eCommerce Artisans</title>
         <!-- Meta, title, CSS, favicons, etc. -->
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">	
		<% if (ENV_DEVELOPMENT) { %>
		    <script src="http://localhost:35729/livereload.js"></script>
		<% } %>
		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
		
		<!-- Rocket extras -->
		<link href="css/animate.css" rel="stylesheet">
		<link href="css/prettyPhoto.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			#parallax {
			  height: 500px;
			  width: 100%;
			  position: fixed;
			  background: url('https://photoshd.files.wordpress.com/2010/08/sunset-6-8-2010.jpg?w=2225&h=1300') center center no-repeat;
			  background-size: cover;
			  z-index: -100;
			}
			#newsletter {
				margin-top: 10%;
				color: #fff;
			}
			#newsletter .lead{
				font-weight: 500;
			}
			.btn-default{
				background-color: #F3B402;
				border-color: #F3B402;
				font-weight: 500;
			}
			.btn-default:hover{
				background-color: #FFCC3B;
				border-color: #FFCC3B;
			}
			.btn-default:focus{
				background-color: #FFCC3B;
				border-color: #FFCC3B;
			}
			.logo{
				text-align:center;
			}
			.logo img{
				width:30%; 
				margin-top:-20%
			}
			footer{
				margin-top: 100px;
				background-color: #F3B402;
				color:#FFF;
			}
			footer .logo_footer{
				width:80px;
				margin-left:25%;
				margin-bottom: 5%;
			}
			footer .logo_footer_2{
				width:100px;
				margin-left:25%;
			}
			body{
				background-color: #F3B402;
			}
			.link{
				color: #F3B402;
			}
			.link:hover{
				color:#FFCC3B;
			}
			.link:focus{
				color: #FFCC3B;
			}
			
		</style>
    </head>
    <body>
